
@font-face {
  src: url("../assets/fonts/Cairo/Cairo-Black.ttf") format("truetype");
  font-family: "Cairo";
  font-weight: 900;
}@font-face {
  src: url("../assets/fonts/Cairo/Cairo-Bold.ttf") format("truetype");
  font-family: "Cairo";
  font-weight: bold;
}
@font-face {
  src: url("../assets/fonts/Cairo/Cairo-Regular.ttf") format("truetype");
  font-family: "Cairo";
}
@font-face {
  src: url("../assets/fonts/Cairo/Cairo-Light.ttf") format("truetype");
  font-family: "Cairo";
  font-weight: lighter;
}
p {
  line-height: 115%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Cairo";
  background-color: black;
  color: white;
}
h2 {
  font-weight: bold;
  font-size: 40px;
}
.cta, .cta-1 {
  color: white;
  box-sizing: initial;
  transition: all 0.2s;
  display: block;
  margin: 16px;
  margin-left: 0;
  width: 220px;
  height: 38px;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(235.27deg, #952A97 -0.07%, #13A4CD 73.79%);
}
.cta-2 {
  border-width: 3px;
  box-sizing: initial;
  border-style: solid;
  border-image : linear-gradient( #952A97, #13A4CD) 1;
  background: transparent;
}
main {
  margin: 50px 100px;
  max-width: 1500px;
}
header {
  height: 100vh;
  width: 100%;
  background: url("/assets/img/landing.png");
  background-size: cover;
  background-repeat: no-repeat;
}
strong {
  font-weight: bold;
}
.top-header {
  display: flex;
  justify-content: space-between;
}
.hero-text p {
  line-height: 25px;
}
nav {
  float: left;
}
.icons {
  display: flex;
  justify-content: space-around;
  width: 150px;
  position: absolute;
  right: 20px;
}
.icons li {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
}

.icons li:nth-child(1) {
  width: 23px;
  height: 20px;
  background: url(/assets/img/heart.svg);
}
.icons li:nth-child(2) {
  width: 21px;
  height: 20px;
  background: url(/assets/img/profile.svg);
}
.icons li:nth-child(3) {
  width: 17px;
  height: 20px;
  background: url(/assets/img/cart.svg);
}
nav ul {
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  width: 350px;
}
.fixed {
  z-index: 10;
  width: 100%;
  padding: 16px;
  position: fixed;
  margin-top: 20px;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 9%;
  width: 330px;
}
.vertical {
  background: linear-gradient(235.27deg, #952A97 -0.07%, #13A4CD 73.79%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 900;
  position: absolute;
  transform: rotate(-90deg);
}
.vertical-bottom {
  bottom: 109px;
  right: -121px;
}
.vertical-top {
  bottom: 109px;
  left: -121px;
}
.logo-img {
  float: left;
  transform: translateY(-35px);
}
.concept, .gallery {
  height: 400px;
  width: 100%;
  margin-top: 80px;
}
.concept-illustration {
  position: relative;
  margin: 16px;
  float: left;
  background: url(/assets/img/concept.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  width: 55%;
  height: 100%;
}
.gallery-illustration {
  position: relative;
  margin: 16px;
  float: right;
  background: url(/assets/img/advices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  width: 45%;
  height: 100%;
}
.concept-text p, .gallery-text p{
  line-height: 30px;
  margin: 16px;
  height: 100%;
  transform: translate(40px, 55px);
}

.gallery-text p {
  width: 300px;
  margin-left: 100px;
  transform: translate(-40px, 55px);
}
.gallery-text a {
  transform: translate(60px, 55px);
}
.explanation {
  margin: 64px;
  margin-top: 100px;
  height: 500px;
  background: url("/assets/img/explications.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.gallery {
  margin-bottom: 50px;
}