
@font-face {
  src: url("../assets/fonts/Cairo/Cairo-Black.ttf") format("truetype");
  font-family: "Cairo";
  font-weight: 900;
}@font-face {
  src: url("../assets/fonts/Cairo/Cairo-Bold.ttf") format("truetype");
  font-family: "Cairo";
  font-weight: bold;
}
@font-face {
  src: url("../assets/fonts/Cairo/Cairo-Regular.ttf") format("truetype");
  font-family: "Cairo";
}
@font-face {
  src: url("../assets/fonts/Cairo/Cairo-Light.ttf") format("truetype");
  font-family: "Cairo";
  font-weight: lighter;
}
@keyframes draw {
  to {
  stroke-dashoffset: 0;
  }
}
p {
  line-height: 150%;
}
* {
  box-sizing: border-box;
}
body {
  opacity: 0;
  transition: opacity 1s;
  font-family: "Cairo";
  background-color: black;
  color: white;
}
h2 {
  font-weight: bold;
  font-size: 40px;
}
.cta-1 {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  background-size: 200% auto;
  color: white;
  box-sizing: initial;
  transition: all 0.3s;
  display: block;
  margin: 16px;
  margin-left: 0;
  width: 220px;
  height: 38px;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(239.68deg, #8500EE -0.07%, #13A4CD 73.79%);
}

.cta-1:hover {
  color: black;
}
a {
  display: block;
}
main {
  margin: 50px 100px;
}
header {
  height: 100vh;
  width: 100%;
  background: url("/assets/img/landing.svg");
  background-size: cover;
  background-position: center;
}
strong {
  transition: color 0.3s;
  display: inline-block;
  cursor: pointer;
  z-index: 3;
  position: relative;
  font-weight: bold;
}

strong:hover {
  color: black;
}

strong::before {
  transition: height 0.3s;
  z-index: -1;
  display: block;
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 3px;
  background: linear-gradient(239.68deg, #8500EE -0.07%, #13A4CD 73.79%);
}
strong:hover::before {
  height: 24px;
}
.top-header {
  display: flex;
  justify-content: space-between;
}
.hero-text p {
  line-height: 25px;
}
nav {
  float: left;
}
.icons {
  display: flex;
  justify-content: space-around;
  width: 150px;
  position: absolute;
  right: 20px;
}
.icons li {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
}

.icons li:nth-child(1) {
  width: 23px;
  height: 20px;
  background: url(/assets/img/heart.svg);
}
.icons li:nth-child(2) {
  width: 21px;
  height: 20px;
  background: url(/assets/img/profile.svg);
}
.icons li:nth-child(3) {
  width: 17px;
  height: 20px;
  background: url(/assets/img/cart.svg);
}
nav ul {
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  width: 350px;
}
.fixed {
  z-index: 10;
  width: 100%;
  padding: 16px;
  position: fixed;
  margin-top: 20px;
}
.footer {
  z-index: 15;
  padding-bottom: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer ul li {
  cursor: pointer;
}
.footer .social {
  float: left;
  width: 150px;
  transform: translateX(-20px);
  justify-content: space-evenly;
  display: flex;
}

.footer .social li {
  opacity: 0.7;
  transition: opacity 0.3s;
}
.footer .social li:hover {
  opacity: 1;
}
.footer .social li:nth-child(1) {
  width: 10px;
  height: 20px;
  background: url('/assets/img/facebook.svg');
  background-size: cover;
}
.footer .options li:nth-child(1)::after {
  display: inline-block;
  content: "";
  background: url("/assets/img/en.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 14px;
  height: 10px;
  transform: translateX(4px);
}
.footer .social li:nth-child(2) {
  width: 20px;
  height: 20px;
  background: url('/assets/img/insta.svg');
  background-size: cover;
}

.footer .options {
  width: 250px;
  justify-content: space-evenly;
  float: right;
  display: flex;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 9%;
  width: 330px;
}
.vertical {
  background: linear-gradient(239.68deg, #8500EE -0.07%, #13A4CD 73.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 900;
  position: absolute;
  transform: rotate(-90deg);
}
.vertical-bottom {
  bottom: 109px;
  right: -121px;
}
.vertical-top {
  bottom: 109px;
  left: -121px;
}
.logo-img {
  float: left;
  transform: translateY(-35px);
}
.concept, .gallery {
  display: flex;
  width: 100%;
  margin-top: 80px;
}
section {
  opacity: 0;
  transition: opacity 0.5s;
  height: 80vh;
}

section.is-reached{
  opacity: 1;
}

nav li:last-child {
  transition: left 0.3s;
  display: block;
  position: absolute;
  min-width: 55px;
  min-height: 4px;
  top: 4px;
  left: 144px;
  background: linear-gradient(239.68deg, #8500EE -0.07%, #13A4CD 73.79%);
}

nav ul li:nth-child(1):hover ~ li:last-child {
  left: 144px;
}
nav ul li:nth-child(2):hover ~ li:last-child {
  left: 239px;
}
nav ul li:nth-child(3):hover ~ li:last-child {
  left: 344px;
}
.svg {
  position: absolute;
  width: 200px;
}
.pattern1 {
  bottom: 160px;
  right: 220px;
}
.pattern2 {
  bottom: 340px;
  right: 220px;
}

.pattern {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.pattern.is-reached {
  animation: draw 3s forwards;
}
  

.concept-illustration {
  position: relative;
  margin: 16px;
  background: url(/assets/img/concept.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  width: 55%;
  height: 100%;
  max-height: 600px;
}
.gallery-illustration {
  position: relative;
  margin: 16px;
  background: url(/assets/img/advices.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  width: 45%;
  height: 100%;
  max-height: 600px;
}
.concept-text, .gallery-text {
  width: 50%;
  line-height: 30px;
  margin: 16px;
  height: 100%;
  transform: translate(40px, 100px);
}
.gallery-text p {
  width: 400px;
  transform: translate(10px, -25px);
}
.gallery-text a {
  transform: translate(60px, 55px);
}
.explanation {
  font-size: 12px;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  height: 500px;
  width: 1000px;
  background: url("/assets/img/explications.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.explanation p {
  position: absolute;
}

.first-typed {
  width: 200px;
  top: 80px;
  right: 10px;
}

.second-typed {
  width: 200px;
  bottom : 200px;
  right: 10px;
}
.third-typed {
  width: 150px;
  top: 250px;
  left: 30px;
}
.gallery {
  margin-bottom: 50px;
}